@model IEnumerable<tbl_category>
@{
    ViewBag.Title = "list";
}

<h2>List view</h2>
<table class="table table-bordered table-striped">

    <tr>
        <th>
            Category_ID
        </th>
        <th>
            Name

        </th>
        <th>
            Description
        </th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CategoryID

            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","Home",null , htmlAttributes : new {@class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Home", null, htmlAttributes: new { @class = "btn btn-danger" })




            </td>
        </tr>

    }

</table>

